<div>
    <h2 translate="nowLocateApp.expedicion.home.title">Expedicions</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="expedicion.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="nowLocateApp.expedicion.home.createLabel">Create a new Expedicion</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Expedicion</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha_inicio"><span translate="nowLocateApp.expedicion.fecha_inicio">Fecha_inicio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha_entrega"><span translate="nowLocateApp.expedicion.fecha_entrega">Fecha_entrega</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="frigorifico"><span translate="nowLocateApp.expedicion.frigorifico">Frigorifico</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="temp_max"><span translate="nowLocateApp.expedicion.temp_max">Temp_max</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="temp_min"><span translate="nowLocateApp.expedicion.temp_min">Temp_min</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion"><span translate="nowLocateApp.expedicion.descripcion">Descripcion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="camion.matricula"><span translate="nowLocateApp.expedicion.camion">camion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delegacion_inicio.localidad"><span translate="nowLocateApp.expedicion.delegacion_inicio">delegacion_inicio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="delegacion_fin.localidad"><span translate="nowLocateApp.expedicion.delegacion_fin">delegacion_fin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="expedicion in expedicions track by expedicion.id">
                    <td><a ui-sref="expedicion.detail({id:expedicion.id})">{{expedicion.id}}</a></td>
                        <td>{{expedicion.fecha_inicio | date:'mediumDate'}}</td>
                        <td>{{expedicion.fecha_entrega | date:'mediumDate'}}</td>
                    <td>{{expedicion.frigorifico}}</td>
                    <td>{{expedicion.temp_max}}</td>
                    <td>{{expedicion.temp_min}}</td>
                    <td>{{expedicion.descripcion}}</td>
                    <td>
                        <a ui-sref="camion.detail({id:expedicion.camion.id})">{{expedicion.camion.matricula}}</a>
                    </td>
                    <td>
                        <a ui-sref="delegacion.detail({id:expedicion.delegacion_inicio.id})">{{expedicion.delegacion_inicio.localidad}}</a>
                    </td>
                    <td>
                        <a ui-sref="delegacion.detail({id:expedicion.delegacion_fin.id})">{{expedicion.delegacion_fin.localidad}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="expedicion.detail({id:expedicion.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="expedicion.edit({id:expedicion.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="expedicion.delete({id:expedicion.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
