
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myExpedicionLabel" translate="nowLocateApp.expedicion.home.createOrEditLabel">Create or edit a Expedicion</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="expedicion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="nowLocateApp.expedicion.fecha_inicio" for="field_fecha_inicio">Fecha_inicio</label>
            <input id="field_fecha_inicio" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="expedicion.fecha_inicio" is-open="datePickerForFecha_inicio.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForFecha_inicioOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="nowLocateApp.expedicion.fecha_entrega" for="field_fecha_entrega">Fecha_entrega</label>
            <input id="field_fecha_entrega" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="expedicion.fecha_entrega" is-open="datePickerForFecha_entrega.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForFecha_entregaOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="nowLocateApp.expedicion.frigorifico" for="field_frigorifico">Frigorifico</label>
            <input type="checkbox" class="form-control" name="frigorifico" id="field_frigorifico"
                    ng-model="expedicion.frigorifico"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="nowLocateApp.expedicion.temp_max" for="field_temp_max">Temp_max</label>
            <input type="number" class="form-control" name="temp_max" id="field_temp_max"
                    ng-model="expedicion.temp_max"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="nowLocateApp.expedicion.temp_min" for="field_temp_min">Temp_min</label>
            <input type="number" class="form-control" name="temp_min" id="field_temp_min"
                    ng-model="expedicion.temp_min"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="nowLocateApp.expedicion.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="expedicion.descripcion"
                     />
        </div>

        <div class="form-group">
            <label translate="nowLocateApp.expedicion.camion" for="field_camion">camion</label>
            <select class="form-control" id="field_camion" name="camion" ng-model="expedicion.camion" ng-options="camion as camion.matricula for camion in camions track by camion.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="nowLocateApp.expedicion.delegacion_inicio" for="field_delegacion_inicio">delegacion_inicio</label>
            <select class="form-control" id="field_delegacion_inicio" name="delegacion_inicio" ng-model="expedicion.delegacion_inicio" ng-options="delegacion as delegacion.localidad for delegacion in delegacions track by delegacion.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="nowLocateApp.expedicion.delegacion_fin" for="field_delegacion_fin">delegacion_fin</label>
            <select class="form-control" id="field_delegacion_fin" name="delegacion_fin" ng-model="expedicion.delegacion_fin" ng-options="delegacion as delegacion.localidad for delegacion in delegacions track by delegacion.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
